<div class="navigator">
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a style="float: right;" href="https://darksky.net/poweredby">powered by DARK SKY</a>
</div>